@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 43px;
      
}
.navbar{
    display: flex;
    gap: 10px;
    width: 70%;
}
 .person{
    width: 250px;
    height:300 ;
    margin-left: auto;
    margin-right: auto;
} 
.aside{
    
    background-image: repeating-linear-gradient(rgb(223, 189, 144),rgb(250, 199, 138) 10%,rgb(212, 174, 116) 20%);
} 

.navlink:hover{
    color: orangered;
    cursor: pointer;
}
 .project-on-navlink{
    background-color:blueviolet;
    color: whitesmoke;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    border-radius: 8px;
}
.project-on-navlink:hover{
    color: whitesmoke;
}
.intro{
    text-align: center;
}
.project-link{
    background-color:  blueviolet;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px;
    color: whitesmoke;
}

.project-link:hover{
    color: greenyellow;
    border-radius: 8px;
    background-color:  orangered;;
}  

.abt-me{
    text-align: center;
    margin-top: 30px;
    color: orangered;
    font-weight: bold;
    font-size: x-large;
}
.abt-me-discriptn{
    width: 100%;
    
}
.linkedin{
    color: orangered;
    cursor: pointer;
    font-size: large;
}

.paragarph2{
    margin-top:20px;
    
}
.email{
    background-color: orangered;
    border-radius:15px;
    padding:4px 20px;
    color: white;
}
.email-container{
    margin-top:30px ;
    margin-bottom: 30px;
    
}

.contact-link{
    background-color: orangered;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
}
.contact-link:hover{
    color: aliceblue;
}

.project{
    text-align: center;
    color: orangered;
    font-size: xx-large;
    font-weight: bolder;
}

 .skill-container{
    background-color: rgb(252, 159, 125);
 }
 .signup-image{
    height: 250px;
    width: 400px;
 }
 .review-app{
    height: 250px;
    width: 400px;
 }
 .to-do{
    height: 250px;
    width: 400px;
 }
 
 .project-div{
    display: flex;
 }
 .focus{
    flex: 33.3%;
    padding: 10px;
 }
 .project{
    margin-top: 30px;
 }
 .proj-paragraph{
    margin-left: 15px;
    margin-top: 20px;
    color: rgb(189, 8, 41);
 }
 .footer-setting{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer-adjustment{
    margin-top: 50px;
 }
.sign-uplink{
    background-color: orangered;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 30px;
 }
 .sign-uplink:hover{
    border-radius: 15px;
    color: whitesmoke;
 } 
 

    

    






